<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div class="container">
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        </div>
        </div>
        <div class="form-group">
          <h3>Create a customer</h3>
          <textarea
            name="name"
            id=""
            cols="30"
            rows="2"
            placeholder="Name"
          ></textarea>
          <textarea
            name="dob"
            id=""
            cols="30"
            rows="2"
            placeholder="Date of Birth"
          ></textarea>
        </div>
        <input type="Submit" value="Create" class="btn" />
      </form>
    </div>
  </body>
</html>