<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div class="container">
      <form action="/submit" method="POST">
        </div>
        </div>
        <div class="form-group">
          <h3>Here are the endpoints that you can use</h3>
          <h3> 1. /customer (Get all the customer objects, return as json)</h3>
          <h3> 2. /order (Get all the orders, return as json)</h3>
          <h3> 3. /order?customer_id=x (Get all the order for customer x, where x is the customer id)</h3>
          <h3> 4. /customer?number=n (Get n youngest customers)</h3>
          <h3> 5. /customer/create (Create a customer)</h3>
      </form>
    </div>
  </body>
</html>